[webservers]
%{ for w in webservers ~}
${w.name} ansible_host=${w.ip} fqdn=${w.fqdn}
%{ endfor ~}

[databases]
%{ for d in databases ~}
${d.name} ansible_host=${d.ip} fqdn=${d.fqdn}
%{ endfor ~}

[storage]
${storage.name} ansible_host=${storage.ip} fqdn=${storage.fqdn}
